.hero-bg{
    background-image: url("../images/men.club.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
  
}
.hero-bg {
  background-image: url("../images/men.club.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .hero-bg {
      background-position: top;
      height: 80vh;
  }
}

@media only screen and (max-width: 480px) {
  .hero-bg {
      background-position: top;
      height: 60vh;
  }
}

@media (max-width: 476px) {
  .hero-bg{
    background-image: url("../images/mbg-hero.webp");
    height: 65vh;
}
}
.hero-bg-contact{
  background-image: url("../images/casino.webp");

    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 100px;
  
}
.single-page{
  background-image: url("../images/single-page.webp");

    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 100px;
  
}


/* hero section start here */
.name-menclub{
   
        font-weight: bold;
        color: #f8eca6;
        line-height: 66px;
        font-size: 100px;
        text-align: center;
        background-image: linear-gradient(to bottom, #bc883d, #f5e47b, #bc883d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 20px;
 
}
.logo a {
  padding: 20px 20px;
  
}


/* button css start heer */


.golden-btn + .golden-btn { margin-top: 1em; }

.golden-btn {

  outline: none;
  font-family: inherit;
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  border-radius: .3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
            inset 0 -2px 5px 1px rgba(139,66,8,1),
            inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #663903;
  color: rgb(110 47 6);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
  font-weight: 900;
}
.golden-btn:focus,
.golden-btn:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
  border: 1px solid rgba(165,93,7,.6);
  color: rgba(120,50,5,.8);
}
.golden-btn:active {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
}


.game {
    position: relative;
    display: flex;
    justify-content: center;
    margin: -35px 0 0 0;
}

.social-popup{
    position: absolute;
    position: fixed;
    bottom: 10%;
    right: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}
.social-popup-size{
    width: 45px;

}
.menu-iocns {
  background: #000000 !important;
}
.menu-logos{
  width: 80px;
  margin-top: -10px;
  
}

@media (min-width: 576px) {
  .footer-copyrigh {
    justify-content: center;
}
}

#content{
  background-color: #1b0905 ;
    
    
   
}
.single-h1{
  color: rgb(110 47 6);
  font-weight: 00;
  font-size:30px;

}
.single-h2{
  color: rgb(70, 30, 3);
  font-weight: 00;
  font-size:20px;
  margin:10px 0 ;
}
.casino-a>tr>td>a{
  color: #ffffff !important;
  font-weight: 800;

}
.col-md-6.d-flex.justify-content-center.gap-3 {
  gap: 8px;
}

.single-page-table{
  border-radius: 10px;
  max-width: 800px;
  width: 100%; 
  padding-top:120px;
  padding-bottom:120px;
  background-image: linear-gradient(to right, #bc883d, #f5e47b, #bc883d);
}